@model CoffeeRun.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <select asp-for="size" class="form-control"
                        asp-items="Html.GetEnumSelectList<Size>()"></select>
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowWouldYouLikeIt" class="control-label"></label>
                <select asp-for="HowWouldYouLikeIt" class="form-control"
                        asp-items="Html.GetEnumSelectList<Options>()"></select>
                <span asp-validation-for="HowWouldYouLikeIt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
